<!DOCTYPE html>
<html lang="en">
<head>

<script src="/node_modules/sweetalert/dist/sweetalert.min.js"></script>
<link rel="stylesheet" type="text/css" href="/node_modules/sweetalert/dist/sweetalert.css">

  <meta charset="UTF-8">
  <title>Quiz Me</title>

</head>
<body ng-app = 'myApp' ng-controller='quizMeCtrl'>

<hr>

<div ng-hide = 'showSkip' >Select Categories: </div>
  <form name="myForm" class = "stylecats">
    <span ng-hide = 'showSkip' ng-repeat="flashCard in flashCards | unique: 'category' " name="repeatSelect" id="repeatSelect" >
      <input type="checkbox" ng-model="currCatagories[flashCard.category]" value="{{flashCard.category}}"> {{flashCard.category}}
    </span>
  </form>
  <br>
  <button ng-hide = 'showSkip' ng-click ='save()' class = "btn btn-success">Start Quiz</button>


  <div class="categorySelected" ng-show = "flashCards.repeatSelect">
    <h1>{{flashCards.repeatSelect}}</h1>
    <div>Random Card</div>
  </div>

<hr>
    <div ng-repeat="card in cardsToShow">
        <div ng-if="card_index == $index">
            <div class = 'flashCardsQuiz'> Question: <br> {{card.question}}</div>
    
            <form ng-submit="answer(card, ans)"> 
              <input type = "text" ng-model ='ans'>
              <button type="submit" class="btn btn-primary">Submit</button>
            </form>

        </div>
    </div>
    
    <div class = "skRsBtns"> <span class = "score" ng-show = 'showSkip' >Score: {{score}}</span></div>
    <div class = "skRsBtns"> <button ng-show = 'showSkip' class = "btn btn-warning" ng-click="next()">Skip</button></div>
    <div class = "skRsBtns"> <button ng-show = 'showSkip' class = "btn btn-info" ng-click="reset()">Restart Quiz</button></div>


</body>
</html>